<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label class="mdl-textfield__label" for="sample1">Nombre...</label>
    <%= form.text_field :title, class: "mdl-textfield__input" %>
  </div>

<br>
<br>

  <div class="mdl-textfield mdl-js-textfield">
    <%= form.drag_and_drop_file_field :file, 'Arrastre su archivo AQUI o haga click para seleccionar un archivo' %>
  </div>

  <div class="actions">
    <%= form.submit 'Subir', class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>
<% end %>
