<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @report.title %>
</p>

<p><%= link_to 'Descargar', rails_blob_path(@report.file, disposition: :attachment), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %></p>

<%= link_to 'Editar', edit_report_path(@report) %> |
<%= link_to 'Eliminar', @report, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Atrás', reports_path %>
